.title-detail {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  font-weight: bold;
  color: #3c3241;
  width: 100%;
  padding-bottom: 5px;
}
.info-posting-time {
  color: #757575;
  margin: 0 0 5px;
  font-size: 14px;
  line-height: 1.3;
}
.box-price {
  width: 100%;
  margin-bottom: 5px;
}
.price-current {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  margin: 0;
}
.price-current-value {
  font-size: 18px;
  color: #d92c37;
}
.info-location {
  margin: 0 0 5px;
  color: #757575;
  font-size: 14px;
  line-height: 1.3;
}
