.drop1 {
  background-color: transparent;
  color: black;
  border: 1px solid lightgray;
  width: 100%;
  text-align: left;
}
.drop1:hover {
  background-color: transparent;
  color: black;
}
.drop1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
