.drop .dropdown-toggle::after {
  display: none !important;
}

.dropitem {
  color: black;
}
.dropitem:hover {
  color: blue;
}
.dropitem:active {
  background-color: white;
  color: blue;
}
/* .dropmenu {
  display: none !important;
  transform: translate(0px, 58px) !important;
  z-index: 9999;
} */
.dropmenu {
  transform: translate(0px, 58px) !important;
}
.drop:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.drop .btn:hover {
  color: #40a691;
}
.drop:hover .dropmenu {
  display: block !important;
}
